html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #444240;
  /* min-width: 1170px; */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.main-button {
  text-decoration: none;
  text-align: center;
  max-width: 205px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 26px 38px;
  box-shadow: 0px 0px 7px 1px rgb(73, 57, 28);
  transition: box-shadow 0.3s;
}

.main-button:active {
  box-shadow: inset 0px 0px 7px 3px rgb(73, 57, 28);
  /* transition: 0.3s; */
}

/* Header styles start */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* .main-header_active {
  background: rgba(234, 227, 212, 0.95);
  transition: all 0.3s;
} */

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 28px;
}

.main-header__logo:hover .main-header__logo-pic,
.main-header__logo:focus .main-header__logo-pic,
.main-header__logo:active .main-header__logo-pic {
  transform: rotate(180deg);
  transition: 0.5s;
}

.main-header__logo-pic {
  transition: transform 0.5s;
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-header__logo-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  color: #555248;
  margin-left: 5px;
}

.main-header__main-menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
} 

.main-header__main-menu-item {
  margin-right: 65px;
}

.main-header__main-menu-item:last-child {
  margin-right: 0;
}

.main-menu-item-link {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
  text-decoration: none;
}

.main-menu-item-link_active {
  font-size: 18px;
  line-height: 22px;
}

.main-menu-item-link::after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: 0;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: #8B8371;
  transition: all 0.3s;
}

.main-menu-item-link:hover::after {
  transform: translateY(-10px);
  opacity: 1;
}

.main-header__add-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 99px;
}

.main-header__add-menu-item:nth-child(2) {
  position: relative;
}

.main-header__add-menu-item:nth-child(2)::before {
  display: block;
  position: absolute;
  content: '1';
  width: 13px;
  height: 13px;
  right: -8px;
  top: -5px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #1B1A17;
  background: #E6C8B4;
  z-index: 2;
}

.main-header__burger {
  display: none;
}

.burger-line-top {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background-color:  #1B1A17;
  transition: all 0.3s linear;
}

.burger-line-top_active {
  transform: translateY(8px) rotate(45deg);
}

.burger-line-middle {
  display: block;
  margin: auto 0;
  width: 100%;
  height: 4px;
  background-color:  #1B1A17;
  transition: all 0.3s linear;
}

.burger-line-middle_active {
  width: 0;
}

.burger-line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color:  #1B1A17;
  transition: all 0.3s linear;
} 

.burger-line-bottom_active {
  transform: translateY(-8px) rotate(-45deg);
}

/* Header styles end */



/* Promo styles start */
.promo {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  margin-top: 79px;
  /* mix-blend-mode: normal; */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.promo__wrapper {
  display: flex;
  column-gap: 55px;
}

.promo__text-column {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  padding-top: 236px;
}

.promo__title {
  position: relative;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  margin-bottom: 16px;
}

.promo__title::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: -65px;
  top: 30px;
  background: #8B8371;
}

.promo__subtitle {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 39px;
}

.promo__descr {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
}

.promo_button {
  background: #444240;
}

.promo__img-column {
  flex-basis: 60%;
  position: relative;
}

.promo__img-pic {
  display: block;
  margin: 0 auto;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

.promo__price-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 116px;
}

.promo__price-value {
  /* position: relative; */
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.promo_rouble {
  position: relative;
  font-size: 16px;
  color: #1B1A17;
  margin-left: 3px;
}

.promo_rouble::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: 26px;
  top: 10px;
  background: #8B8371;
}

.promo__property-wrapper {
  position: absolute;
  right: 10px;
  bottom: 116px;
}

.promo__property-value {
  position: relative;
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.promo__property-value::before {
  display: block;
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  left: -65px;
  top: 10px;
  background: #8B8371;
}
/* Promo styles end */


/* Popular styles start */
.popular {
  width: 100%;
}

.popular__wrapper {
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
}

.popular__title {
  text-align: center;
}

.popular__link-wrapper {
  text-align: end;
  margin-bottom: 25px;
}

.popular__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  transition: color 0.5s;
}

.popular__link:hover,
.popular__link:active,
.popular__link:focus {
  color: #1a135f;
  transition: color 0.5s;
}

.popular__items {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.popular__item {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* width: 370px; */
  /* height: 449px;  */
  padding: 38px 28px;
  background: #FDFDFB;
}

.popular__item-name {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-left: 12px;
}

.popular__item-price {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.popular__item-price-value {
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.popular_rouble {
  margin-left: 3px;
  font-size: 12px;
  color: rgba(27, 26, 23, 0.82);
}

.popular__item-img {
  /* height: 301px; */
  margin-bottom: 18px;
  background: url(../img/ellipse-bg.png) no-repeat center;
}

.popular__item-pic {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  filter: drop-shadow(2px 2px 10px rgba(85, 82, 72, 0.23));
}

.popular__item-link-wrapper {
  position: relative;
  padding-left: 48px;
  margin-left: 12px;
}

.popular__item-link-wrapper::after {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  left: 0;
  top: 10px;
  background: #8B8371;
  transition: left 0.3s;
}

.popular__item-link {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  text-decoration: none;
  transition: text-decoration 0.5s, color 0.5s;
}

.popular__item-link:hover,
.popular__item-link:active, 
.popular__item-link:focus {
  color: #1a135f;
  text-decoration: underline;
  transition: all 0.5s;
}

.popular__item:hover .popular__item-link-wrapper::after, 
.popular__item:focus .popular__item-link-wrapper::after,
.popular__item:active .popular__item-link-wrapper::after {
  left: 10px;
  transition: 0.3s;
}

.popular__item:hover {
  background-image: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
}

/* Popular styles end */


/* Quality styles start */
.quality {
  background-image: linear-gradient(to right, #F7F5EF 34.26%,  #FDFDFB 34.26%, #FDFDFB 65.74%);
  margin-bottom: 81px;
  width: 100%;
}

.quality__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 52px 0;
}

.quality__img-column {
  position: relative;
  /* flex-basis: 50%; */
  margin-left: 80px;
}

.quality__img-column-counter {
  position: absolute;
  bottom: -32px;
  right: 63px;
}

.quality__text-column {
  /* flex-basis: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 69px;
}

.quality__title {
  margin-bottom: 38px;
}

.quality__text-column-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
  margin-bottom: 45px;
  max-width: 376px;
}

.quality__button {
  background: #D4B098;
}
/* Quality styles end */


/* News styles start */
.news {
  width: 100%;
  margin-bottom: 90px;
}

.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}

.news__text-column {
  display: flex;
  flex-direction: column;
}

.news__title {
  margin-top: 140px;
  margin-bottom: 40px;
}

.news__text-column-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  margin-bottom: 119px;
  max-width: 376px;
}

.news__socials {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 93px;
}

.news__img-column {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 10px;
  margin-left: 69px;
}

.news__img-column-sm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.news__img-column-lg-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* News styles end */


/* Footer styles start */
.main-footer {
  width: 100%;
  background: #444240;
}

.main-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 67px 85px;
}

.main-footer__logo {
  display: flex;
  flex-direction: column;
}

.main-footer__logo-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  height: 34px;
  margin-bottom: 23px;
}

.main-footer__logo-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  margin-left: 5px;
}

.main-footer__logo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-footer__logo-item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17.2px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 15px;
}

.main-footer__logo-item:last-child {
  margin-bottom: 0;
}

.main-footer__chapter {
  display: flex;
  flex-direction: column;
}

.main-footer__chapter-title {
  height: 34px;
  vertical-align: middle;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 18px;
  margin-bottom: 23px;
}

.main-footer__chapter-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-footer__chapter-item {
  margin-bottom: 15px;
}

.main-footer__chapter-item:last-child {
  margin-bottom: 0;
}

.main-footer__chapter-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  
}

/* Footer styles end */

/* ----------------------------------------------- */

/* Page 'Catalog' */

.breadcrumbs {
  margin-top: 79px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 3px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.breadcrumbs__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #B3B3B3;
}

/* Catalog styles start */
.catalog {
  width: 100%;
  margin-bottom: 57px;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.title__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog__button-filter {
  display: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B1A17;
  padding: 10px;
  max-width: 100px;
  box-shadow: 0px 0px 7px 1px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
}

.catalog__button-filter:active {
  box-shadow: inset 0px 0px 7px 3px rgb(73, 57, 28);
}

.filter__wrapper {
  display: flex;
  align-items: center;
}

.filter-text {
  margin-right: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #BDB9B5;
}

.filter-select {
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1B1A17;
}

.catalog-cards {
  display: flex;
  position: relative;
}

.catalog-cards__filter {
  /* width: 230px; */
  margin-right: 54px;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filter-form__legend {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #444240;
  /* margin-bottom: 27px; */
}

/* .filter-form__price {
  margin-top: 20px;
} */

.filter-form__select {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.filter-form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0%;
  text-transform: capitalize;
  color: #6F6E6D;
  margin-bottom: 20px;
}

.filter-form__label:last-child {
  margin-bottom: 0;
}

.filter-form__button {
  padding: 24px 0;
  background: none;
  border: 2px solid #E7E0CF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1D1A1A;
}

.catalog-cards__catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalog-cards__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  margin-bottom: 48px;
}

.catalog-cards__item {
  position: relative;
  background: linear-gradient(0deg, #FDFDFB, #FDFDFB);
}

.catalog-cards__item:hover,
.catalog-cards__item:active,
.catalog-cards__item:focus {
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);  
}

.catalog-cards__item:hover .catalog-cards__item-nav,
.catalog-cards__item:active .catalog-cards__item-nav,
.catalog-cards__item:focus .catalog-cards__item-nav {
  display: flex;
}

.catalog-cards__item-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  top: 0;
  left: 0;
  width: 100%;
}

.catalog-cards__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.catalog-cards__item-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #444240;
}

.catalog-cards__item-nav {
  /* display: flex; */
  display: none;
}

.catalog-cards__item-bit:first-child {
  margin-right: 16px;
}

.catalog-cards__item-bit-pic {
  filter: drop-shadow(5px 5px 10px rgba(92, 92, 80, 0.23));
}

.catalog-cards__item-price {
  display: flex;
  align-items: center;
}

.catalog-cards__item-price-value {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #636261;
}

.catalog_rouble {
  margin-left: 3px;
  font-size: 14px;
  color: #636261;
}

.catalog-cards__advert {
  display: flex;
  width: 252px;
  /* height: 320px; */
  padding-left: 35px;
  background: #D4B098 url(../img/advert-bg.png) no-repeat right;
}

.advert__data {
  display: flex;
  flex-direction: column;
  max-width: 112px;
  margin: auto 0;
}

.advert__data-price {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.advert__data-descr {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.catalog-cards__counter {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #B6B6B6;
}

/* Catalog styles end */


/* Add-catalog styles start */
.add-catalog {
  width: 100%;
  margin-bottom: 80px;
}

.add-catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.add-catalog__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.add-catalog__title {
  align-self: center;
}

.add-catalog__link {
  align-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  transition: color 0.5s;
}

.add-catalog__cards {
  display: flex;
  position: relative;
  justify-content: space-between;
}

/* .add-catalog__cards::before {
  display: block;
  position: absolute;
  content: '';
  width: 12px;
  height: 23px;
  top: 187px;
  left: -40px;
  background: url(../img/arrow_left.png) no-repeat center;
}

.add-catalog__cards::after {
  display: block;
  position: absolute;
  content: '';
  width: 12px;
  height: 23px;
  top: 187px;
  right: -40px;
  background: url(../img/arrow_right.png) no-repeat center;
} */

.add-catalog__cards-arrow-left {
  position: absolute;
  top: 50%;
  left: -40px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s;
}

.add-catalog__cards-arrow-left:hover,
.add-catalog__cards-arrow-left:focus,
.add-catalog__cards-arrow-left:active {
  transform: scale(1.4);
}

.add-catalog__cards-arrow-right {
  position: absolute;
  top: 50%;
  right: -40px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s;
}

.add-catalog__cards-arrow-right:hover,
.add-catalog__cards-arrow-right:focus,
.add-catalog__cards-arrow-right:active {
  transform: scale(1.4);
}

/* Add-catalog styles end */

/* ----------------------------------------------- */
/* Page 'Card' */

/* Card styles start */

.card {
  margin-bottom: 81px;
}

.card__wrapper {
  display: flex;
  column-gap: 40px;
}

.card__img-column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.card__img-lg-wrap {
  position: relative;
}

.card__img-arrow-left {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s;
}

.card__img-arrow-left:hover,
.card__img-arrow-left:focus,
.card__img-arrow-left:active {
  transform: scale(1.4);
}

.card__img-arrow-right {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s;
}

.card__img-arrow-right:hover,
.card__img-arrow-right:focus,
.card__img-arrow-right:active {
  transform: scale(1.4);
}

.card__img-lg {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 10px rgba(92, 92, 80, 0.23));
}

.card__img-sm-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__img-sm {
  cursor: pointer;
}

.card__img-sm:not(:first-child) {
  background: rgba(100, 100, 100, 0.15);
}

.card__text-column {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 50px 60px;
}

.card__text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card__text-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #444240;
}

.card__text-like {
  cursor: pointer;
}

.card__text-price {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #686868;
  margin-bottom: 50px;
}

.card_rouble {
  margin-left: 3px;
  font-size: 24px;
  color: #686868;
}

.card__text-info {
  display: flex;
  flex-direction: column;
}

.card__text-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 41px;
}

.card__text-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
  cursor: pointer;
}

.card__text-subtitle:hover {
  background-color: rgba(234, 227, 212, 0.95);
  border-radius: 5px;
  transition: all 0.3s;
}

.text-subtitle-active {
  border-bottom: 1px solid #C4C0B6;
}

.card__text-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
}

/* .text-techs {
  display: none;
} */

.card_button {
  background: #444240;
  margin-top: auto;
}

/* Card styles end */


/* JS styles start */
.js-hidden {
  display: none;
}

.up-button {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: rgba(234, 227, 212, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
}

.up-button_shown {
  display: block;
}

/* JS styles end */


/* Media start */

@media screen and (max-width: 1280px) {
  .add-catalog__cards {
    justify-content: space-around;
  }
  .add-catalog__cards-arrow-left {
    left: 0;
  }
  .add-catalog__cards-arrow-right {
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
  .quality__wrapper {
    justify-content: space-around;
  }
  .quality__img-column {
    margin-left: 0;
  }
  .quality__text-column {
    margin-left: 0;
  }
  .news__wrapper {
    /* padding: 0 10px; */
    justify-content: space-between;
  }
  .news__img-column {
    margin-left: 0;
  }
  .news__text-column {
    width: 35%;
    justify-content: center;
  }
  .news__text-column-descr {
    margin-bottom: 40px;
  }
  .news__title {
    margin-top: 0;
  }
  .catalog-cards__filter {
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .promo__wrapper {
    column-gap: 10px;
  }
  .promo__text-column {
    flex-basis: 30%;
    justify-content: center;
    padding: 0;
  }
  .promo__title::before {
    display: none;
  }
  .promo__img-column {
    flex-basis: 70%;
  }
  .popular__wrapper {
    padding: 40px 0;
  }
  .popular__items {
    flex-wrap: wrap;
  }
  .quality {
    margin-bottom: 40px;
  }
  .quality__wrapper {
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  .news {
    margin-bottom: 40px;
  }
  .news__wrapper {
    flex-wrap: nowrap;
  }
  .catalog {
    margin-bottom: 40px;
  }
  .catalog-cards__items {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .add-catalog {
    margin-bottom: 40px;
  }
  .card {
    margin-bottom: 40px;
  }
  .card__wrapper {
    column-gap: 20px;
  }
  .card__img-sm-wrap {
    justify-content: flex-start;
    gap: 10px;
  }
  .card__text-column {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-header__wrapper {
    padding: 15px 0;
  }
  .main-header__main-menu-item:not(:last-child) {
    margin-right: 30px;
  }
  .promo {
    margin-top: 50px;
  }
  .promo_rouble::before {
    display: none;
  }
  .promo__property-wrapper {
    right: 0;
  }
  .promo__property-value::before {
    display: none;
  }
  .popular__items {
    flex-direction: column;
    align-items: center;
  }
  .news__text-column {
    padding: 0 10px 0 0 ;
  }
  .news__title {
    margin-bottom: 20px;
  }
  .news__text-column-descr {
    margin-bottom: 20px;
  }
  .main-footer__wrapper {
    padding: 40px 20px;
  }
  .breadcrumbs {
    margin-top: 50px;
    padding: 20px 0;
  }
  .card__wrapper {
    column-gap: 10px;
  }
  .card__text-price {
    margin-bottom: 20px;
  }
  .card__text-title {
    margin-bottom: 20px;
  }
 }

 @media screen and (max-width: 576px) {
  .main-header {
    background: rgba(234, 227, 212, 0.95);
  }
  .main-header__main-menu {
    display: none;
    transition: all 0.5s;
  }
  .main-header__main-menu_active {
    display: block;
    order: 4;
    flex-basis: 100%;
    padding: 10px 0 0 0;
  }
  .main-menu-item-link::after {
    display: none;
  }
  .main-header__main-menu-list {
    flex-grow: 1;
    flex-direction: column;
  }
   .main-header__add-menu {
     margin-left: auto;
     margin-right: 20px;
   }
   .main-header__burger {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    /* margin-left: auto; */
  }
  .popular__wrapper {
    padding: 20px 0;
  }
  .popular__link-wrapper {
    margin-bottom: 15px;
  }
  .popular__item {
    padding: 10px;
  }
  .quality__wrapper {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }
  .quality__img-column {
    order: 1;
  }
  .quality__text-column {
    width: 100%;
    align-items: center;
  }
  .main-title {
    margin-bottom: 20px;
  }
  .quality__text-column-descr {
    margin-bottom: 20px;
  }
  .quality__img-column-counter {
    bottom: -22px;
  }
  .news__wrapper {
    flex-wrap: wrap;
  }
  .news__text-column {
    width: 100%;
    padding: 0;
  }
  .news__socials {
    margin-bottom: 20px;
  }
  .main-footer__wrapper {
    padding: 20px;
  }
  .main-footer__logo {
    width: 50%;
  }
  .main-footer__chapter {
    width: 50%;
  }
  .main-footer__chapter-title {
    margin-bottom: 15px;
  }
  .main-footer__chapter-item {
    margin-bottom: 10px;
  }
  .title__wrapper {
    margin-bottom: 20px;
  }
  .catalog__button-filter {
    display: block;
  }
  .catalog-cards__filter {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translateX(-180px);
    background: rgba(234, 227, 212, 0.95);
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px;
    z-index: 10;
    transition: all 0.5s;
  }
  .catalog-cards__filter_active {
    transform: none;
  }
  .filter-form__button {
    border: 2px solid #1B1A17;
    padding: 10px 5px;
  }
  .catalog-cards__items {
    row-gap: 20px;
  }
  .add-catalog {
    margin-bottom: 20px;
  }
  .add-catalog__cards .catalog-cards__item:not(:first-of-type) {
    display: none;
  }
  .add-catalog__header {
    margin-bottom: 10px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card__wrapper {
    flex-wrap: wrap;
  }
  .card__img-column {
    flex-basis: 100%;
  }
  .card__text-column {
    flex-basis: 100%;
  }
  .card__text-text {
    margin-bottom: 15px;
  }
  .up-button {
    right: 20px;
    bottom: 20px;
  }
 }

 @media screen and (max-width: 480px) {
  .promo__wrapper {
    flex-wrap: wrap;
  }
  .promo__text-column {
    flex-basis: 100%;
  }
  .promo__subtitle {
    margin-bottom: 16px;
  }
  .promo__descr {
    margin-bottom: 16px;
  }
  .promo_button {
    align-self: center;
  }
  .promo__img-column {
    flex-basis: 100%;
  }
 }

 @media screen and (max-width: 380px) {

 }

 

/* Media end */

